## ide
**/.idea
**/.vscode
*.iml
*.code-workspace
rebel.xml

## backend
**/target
**/logs
**/*.log

## front
**/*.lock
os_del.cmd
os_del_doc.cmd
.svn
derby.log
.cursor
.history

## macOS
.DS_Store


## upstream ignore - upstream更新后也不跟踪的目录
jeecg-boot/jeecg-server-cloud
jeecg-boot/jeecg-boot-module/jeecg-module-demo/
jeecgboot-vue3/src/views/demo/
jeecgboot-vue3/src/router/routes/modules/demo/
